.container-1, .container-2, .container-3, .container-4, .container-5{
    border: 1px solid black;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.container-5{
    background: url("img/fondo.png") center;
}

.flex-box-container-1, .flex-box-container-2, .flex-box-rps, .flex-box-pick-color,
.flex-blackjack-row-1, .flex-blackjack-row-2, .flex-blackjack-row-3{
    display: flex;
    border: 1px solid black;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.background{
    background: url("https://ie2-gfebf.cdnppb.net/mexchangeblackjack/turbo/32/assets/gameView/tableBackground.png?v32") center;
    color: #ffffff;
}

.flex-blackjack-row-1 div{
    padding: 10px;
    flex: 1;
    height: 350px;
    text-align: center;
}

.flex-blackjack-row-1 img{
    width: 25%;
    padding: 10px;
}

.flex-blackjack-row-2 button{
    padding: 10px;
}

.flex-blackjack-row-2 div{
    padding: 10px;
}

table-results, th{
    border: 1px solid black;
    padding: 5px;
}

.flex-box-container-1 div{
    display: flex;
    padding: 10px;
    border: 1px solid black;
    align-items: center;
}


.flex-box-container-2 img{
    margin: 10px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.7);
}


.flex-box-rps img:hover{
    box-shadow: 0px 10px 50px rgba(37, 50, 233, 1);
}

.input-money{
    background-color: #4a4a4a;
    border-radius: 5px;
    border: 3px solid black;
    color: white;
    padding: 5px;
    margin: 10px;
    font-size: 15px;
}

.input-money placeholder{
    color: white;
}

.flex-blackjack-row-3{
    /*background: #02430f;*/
}

.flex-blackjack-row-3 table{
    /*background: #4a4e4a;*/
    cursor: default;
    margin: auto;
}

.btn-double{
    display: block;
    border: 1px solid black;
    padding: 10px;
    flex-direction: row;
    justify-content: space-around;
    height: 65px;
    margin: auto;
}

.alerta{
    display: none;
    position: absolute;
    align-self: center;
    color: red;
    margin: auto;
    background: black;
    border-radius: 20px;
    padding: 0 10px;
    opacity: 1;
    transition: opacity .5s linear;
}

.alerta.hide{
    opacity: 0;
    pointer-events: none;
}

#cartaSinRevelar{
    opacity: 1;
    transition: opacity .5s linear;
}

#cartaSinRevelar.esconder{
    opacity: 0;
    pointer-events: none;
}

.cartaUsuario{
    transition: all 0.5s ease;
}

.cartaUsuario:hover{
    transform: scale(1.5);
}